<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/CuponBundle/css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ asset('bundles/CuponBundle/css/global.css') }}" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url('homepage') }}">Cuponify!</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Ayuda</a>
                        </li>

                        <li>
                            <a href="#">Contacto</a>
                        </li>

                        {% if is_granted('ROLE_USUARIO') or is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_UESTABLECIMIENTO')%}
                        <li>
                            <a href="{{ url('usuario_editar') }}">Mi cuenta</a>
                        </li>
                        {% endif %}

                        {% if is_granted('ROLE_UESTABLECIMIENTO')%}
                        <li>
                            <a href="{{ url('usuario_establecimiento') }}">Estadísticas</a>
                        </li>
                        {% endif %}

                        <li>
                            {% if is_granted('ROLE_USUARIO') or is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_UESTABLECIMIENTO')%}
                                <a href="{{ url('usuario_logout') }}">Cerrar sesión</a>
                            {% else %}
                                <a href="{{ url('usuario_login') }}">Iniciar sesión</a>
                            {% endif %}

                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">

            {% block body %}{% endblock %}

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Cuponify! 2016</p>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.container -->


        <!-- jQuery -->
        <script src="{{ asset('bundles/CuponBundle/js/jquery.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/CuponBundle/js/bootstrap.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
